<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Title</key>
			<string>Group</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>AutocapitalizationType</key>
			<string>None</string>
			<key>AutocorrectionType</key>
			<string>No</string>
			<key>DefaultValue</key>
			<string></string>
			<key>IsSecure</key>
			<false/>
			<key>Key</key>
			<string>name_preference</string>
			<key>KeyboardType</key>
			<string>Alphabet</string>
			<key>Title</key>
			<string>Name</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enabled_preference</string>
			<key>Title</key>
			<string>Enabled</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<real>0.5</real>
			<key>Key</key>
			<string>slider_preference</string>
			<key>MaximumValue</key>
			<integer>1</integer>
			<key>MaximumValueImage</key>
			<string></string>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Logging</string>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enablelogging</string>
			<key>Title</key>
			<string>Enable Logging:</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<true/>
			<key>Key</key>
			<string>enableperformancelogging</string>
			<key>Title</key>
			<string>Log Performance:</string>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
		</dict>
		<dict>
			<key>Values</key>
			<array>
				<integer>0</integer>
				<integer>50</integer>
				<integer>100</integer>
				<integer>250</integer>
				<integer>500</integer>
			</array>
			<key>Titles</key>
			<array>
				<string>0</string>
				<string>50</string>
				<string>100</string>
				<string>250</string>
				<string>500</string>
			</array>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Save Threshold:</string>
			<key>Key</key>
			<string>loggingsavethreshold</string>
			<key>DefaultValue</key>
			<string>0</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>5</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Save Interval Sec:</string>
			<key>Key</key>
			<string>loggingsaveinterval</string>
            <key>AutocorrectionType</key>
            <string>No</string>
            <key>AutocapitalizationType</key>
            <string>None</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>7</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Max Age Days:</string>
			<key>Key</key>
			<string>loggingmaxage</string>
            <key>AutocorrectionType</key>
            <string>No</string>
            <key>AutocapitalizationType</key>
            <string>None</string>
		</dict>
		<dict>
			<key>DefaultValue</key>
			<string>300</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Delete Interval Sec:</string>
			<key>Key</key>
			<string>loggingdeleteinterval</string>
            <key>AutocorrectionType</key>
            <string>No</string>
            <key>AutocapitalizationType</key>
            <string>None</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Delete Every Save:</string>
			<key>Key</key>
			<string>loggingdeleteeverysave</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>System Log Level:</string>
			<key>Key</key>
			<string>systemloglevel</string>
			<key>DefaultValue</key>
			<string>1966080</string>
			<key>Titles</key>
			<array>
				<string>ERROR</string>
				<string>WARNING</string>
				<string>INFO</string>
				<string>VERBOSE</string>
			</array>
			<key>Values</key>
			<array>
				<integer>131072</integer>
				<integer>393216</integer>
				<integer>917504</integer>
				<integer>1966080</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Auth Log Level:</string>
			<key>Key</key>
			<string>authloglevel</string>
			<key>DefaultValue</key>
			<string>240</string>
			<key>Titles</key>
			<array>
				<string>ERROR</string>
				<string>WARNING</string>
				<string>INFO</string>
				<string>VERBOSE</string>
			</array>
			<key>Values</key>
			<array>
				<integer>16</integer>
				<integer>48</integer>
				<integer>112</integer>
				<integer>240</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Doc Log Level:</string>
			<key>Key</key>
			<string>docloglevel</string>
			<key>DefaultValue</key>
			<string>2048</string>
			<key>Titles</key>
			<array>
				<string>ERROR</string>
				<string>WARNING</string>
				<string>INFO</string>
				<string>VERBOSE</string>
			</array>
			<key>Values</key>
			<array>
				<integer>256</integer>
				<integer>768</integer>
				<integer>1792</integer>
				<integer>3840</integer>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Access Log Level:</string>
			<key>Key</key>
			<string>accessloglevel</string>
			<key>DefaultValue</key>
			<string>32768</string>
			<key>Titles</key>
			<array>
				<string>ERROR</string>
				<string>WARNING</string>
				<string>INFO</string>
				<string>VERBOSE</string>
			</array>
			<key>Values</key>
			<array>
				<integer>4096</integer>
				<integer>12288</integer>
				<integer>281672</integer>
				<integer>61440</integer>
			</array>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
